@using Newtonsoft.Json
@model Rsk.AspNetCore.Fido.Dtos.Base64FidoAuthenticationChallenge
@{
    ViewData["Title"] = "FIDO login";
}
<h1 class="mb-4">Please use your authenticator</h1>

<script>
// Challenge
let challengeBytesAsString = atob("@Html.Raw(Model.Base64Challenge)");
let challenge = new Uint8Array(challengeBytesAsString.length);
for (let i = 0; i < challengeBytesAsString.length; i++) {
challenge[i] = challengeBytesAsString.charCodeAt(i);
}

// RP ID
let rpId = "@Model.RelyingPartyId";

// Allowed credentials
let keys = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Base64KeyIds))');
let allowCredentials = [];

for (let i = 0; i < keys.length; i++) {
    let keyIdBytesAsString = window.atob(keys[i]);

    let key = new Uint8Array(keyIdBytesAsString.length);
    for (let i = 0; i < keyIdBytesAsString.length; i++) {
        key[i] = keyIdBytesAsString.charCodeAt(i);
    }

    allowCredentials.push({
        type: "public-key",
        id: key
    });
}

// WebAuthn
navigator.credentials.get({ publicKey: { challenge, rpId, allowCredentials } })
    .then((result) => {

        // base64 encode array buffers
        var encodedResult = {
            id: result.id,
            rawId: btoa(String.fromCharCode.apply(null, new Uint8Array(result.rawId))),
            type: result.type,
            response: {
                authenticatorData:
                    btoa(String.fromCharCode.apply(null, new Uint8Array(result.response.authenticatorData))),
                signature:
                    btoa(String.fromCharCode.apply(null, new Uint8Array(result.response.signature))),
                userHandle:
                    btoa(String.fromCharCode.apply(null, new Uint8Array(result.response.userHandle))),
                clientDataJSON:
                    btoa(String.fromCharCode.apply(null, new Uint8Array(result.response.clientDataJSON)))
            }
        };

        // post to login callback endpoint and redirect to homepage
        $.ajax({
            url: '/Account/CompleteFidoLogin',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(encodedResult),
            
            success:function(data) {
                window.location.href = "/";
            }
        });
    })
    .catch((error) => {
        console.error(error);
    });
</script>